<!--
  Generated template for the AnswersListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Respostas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addAnswer(question)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list-header>
      <h2>{{question.id}} {{question.title}}</h2>
    </ion-list-header>

    <ion-list>
      <ion-item *ngFor="let answer of question.answers">
        <ion-input type="text" value="{{answer.title}}"></ion-input>
        <ion-toggle ([ngModel])="answer.status" [checked]="getAnswerStatus(answer.status)" (ionChange)="editStatus(question, answer)"></ion-toggle>
      </ion-item>
    </ion-list>
</ion-content>
