<!--
  Generated template for the AnswersListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vote nas Perguntas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-slides pager>

          <ion-slide style="background-color: #CCCCCC" *ngFor="let question of questions">
            <h2>{{question.title}}</h2>

            <ng-container *ngFor="let answer of question.answers">

              <ion-item *ngIf="answer.status == 1">

                  <ion-label>{{answer.title}}</ion-label>
                  <ion-checkbox checked="false" (ionChange)="vote(answer)"></ion-checkbox>

              </ion-item>

          </ng-container>

          </ion-slide>

    </ion-slides>

</ion-content>
