<!--
  Generated template for the QuestionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ question.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="item-detail" padding>
    <button ion-item (click)="editQuestion(question)">
        <h2>{{question.id}}</h2>
        <p>{{question.title}}</p>
    </button>
  </div>
</ion-content>
