<!--
  Generated template for the VotationCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Enquetes Disponíveis</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addQuestion()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let question of currentQuestions">
      <ion-list-header>
        {{question.title}}
        <button ion-button icon-only (click)="editTitle(question)">
          <ion-icon name="create"></ion-icon>
        </button>
        <ion-badge color="light">{{question.views}} Visualizações</ion-badge>
      </ion-list-header>
      <button ion-button icon-only (click)="editAnswers(question)">
        <ion-icon name="settings"></ion-icon>
      </button>
      <ion-list>
        <ion-item *ngFor="let answer of question.answers">
          <span ion-text [color]="getAnswerStatus(answer.status)">{{answer.title}}</span>
          <ion-badge item-end>{{answer.votes}} Votos</ion-badge>
        </ion-item>
      </ion-list>
    </ion-item>
</ion-content>
